[%- set p = module_part_number | parse_part_number -%]
{
  "build": {
    "core": "esp32",
    "f_cpu": "[[ cpu_freq_mhz * 1000000 ]]L",
    "f_flash": "[[ p.flash_freq_mhz * 1000000 ]]L",
    "flash_mode": "[[ p.flash_mode ]]",
    "mcu": "[[ p.chip ]]",
    "variant": "[[ p.chip ]]"[% if p.psram_present %],
    "extra_flags": [
      "-DBOARD_HAS_PSRAM"
    ][% endif %]
  },
  "connectivity": [
    "wifi"[% if p.chip != 'esp32c6' and p.chip != 'esp32h2' %],
    "bluetooth"[% endif %]
  ],
  "debug": {
    "default_tool": "esp-builtin",
    "onboard_tools": ["esp-builtin"],
    "openocd_target": "[[ p.chip ]].cfg"
  },
  "frameworks": ["espidf"],
  "name": "[[ project_name ]] ([[ module_part_number ]])",
  "upload": {
    "flash_size": "[[ p.flash_size_mb ]]MB",
    "maximum_ram_size": 327680,
    "maximum_size": [[ p.flash_size_mb * 1024 * 1024 ]],
    "require_upload_port": true,
    "speed": 460800
  },
  "url": "",
  "vendor": "custom"
}
